.graphes-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px auto;
  padding: 30px 30px;

}

.tile-container {
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.title-close {
  position: relative;
  cursor: pointer;
  display: none;
}

.tile-container:hover .title-close {
  display: block;
}

.title-close:before {
  content: "";
  position: absolute;
  right: -8px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  -ms-transform: rotate(45deg);
  transform: rotate(-45deg);
  border-radius: 2px;
}

.title-close:after {
  content: "";
  position: absolute;
  right: 1px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  transform: rotate(45deg);
  border-radius: 2px;
}

.graphes-wrapper .chart-item .canvasjs-chart-toolbar {
  display: none;
}

.graphes-wrapper .chart-item {
  width: calc(33.33% - 1rem) !important;
  padding: 20px;
  overflow: hidden;
  background: white;
  margin: 0.5rem;
  max-height: calc(50% - 1rem);
  overflow: hidden;
  background: white;
  page-break-inside: avoid;
  transition: all 250ms;
  border-radius: 0.5rem;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgb(55 63 66 / 7%),
    0 2px 4px rgb(55 63 66 / 7%),
    0 4px 8px rgb(55 63 66 / 7%),
    0 8px 16px rgb(55 63 66 / 7%),
    0 16px 24px rgb(55 63 66 / 7%),
    0 24px 32px rgb(55 63 66 / 7%);
}

.graphes-wrapper .chart-item.double-flex {
  width: 65.66% !important;
}

/* bullet reports Css */
.corona-wrapper s-heading {
  box-shadow: 0 3px 4px 1px hsl(0deg 0% 85% / 50%);
  border: 0 !important;
  position: relative;
}

.corona-wrapper .corona-cases-statewise {
  display: flex;
  overflow: hidden;
  align-items: center;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
}

.corona-cases-statename {
  font-size: 15px;
  margin: 10px 0;
}

.corona-wrapper .corona-cases-statewise>div {
  width: 30%;
}

.corona-wrapper .corona-cases-statewise div {
  display: flex;
  justify-content: space-between;
}

.corona-wrapper .corona-cases-statewise div>p {
  width: calc(100%/3);
  margin: 0 5px;
  font-size: 14px;
}

.corona-wrapper .corona-cases-statewise:nth-child(even) {
  background-color: #f7f7f7;
}

.corona-wrapper .corona-cases-statewise:active {
  background-color: #7280ce;
}