* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

h1 {
  margin: 50px auto 0;
  text-align: center;
}

.loader {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader>div {
  background-color: #333;
  height: 25%;
  width: 6px;
  margin-left: 5px;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
  border-radius: 15px;
}

.loader .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.loader .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.loader .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.loader .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {

  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4)
  }

  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {

  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.graphes-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 50px;
  padding: 30px 30px;
  align-items: flex-start;
}

.tile-container {
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px;
  margin-bottom: 20px;
  justify-content: space-between;
  cursor: move;
}

.title-close {
  position: relative;
  cursor: pointer;
  display: none;
}

.tile-container:hover .title-close {
  display: block;
}

.title-close:before {
  content: "";
  position: absolute;
  right: -8px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  -ms-transform: rotate(45deg);
  transform: rotate(-45deg);
  border-radius: 2px;
}

.title-close:after {
  content: "";
  position: absolute;
  right: 1px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  transform: rotate(45deg);
  border-radius: 2px;
}

.graphes-wrapper .chart-item {
  resize: both;
  width: calc(33.33% - 1rem);
  padding: 20px;
  overflow: hidden;
  background: white;
  margin: 0.5rem;
  max-height: calc(50% - 1rem);
  overflow: hidden;
  background: white;
  page-break-inside: avoid;
  transition: all 250ms;
  border-radius: 0.5rem;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgb(55 63 66 / 7%),
    0 2px 4px rgb(55 63 66 / 7%),
    0 4px 8px rgb(55 63 66 / 7%),
    0 8px 16px rgb(55 63 66 / 7%),
    0 16px 24px rgb(55 63 66 / 7%),
    0 24px 32px rgb(55 63 66 / 7%);
}

.graphes-wrapper .chart-item.double-flex {
  width: calc(100% - 33.33% - 1rem);
}

.graphes-wrapper .chart-item .canvasjs-chart-toolbar {
  display: none;
}

.graphes-wrapper .chart-item .canvasjs-chart-canvas {
  width: 100% !important;
  height: auto !important;
}

/* bullet reports Css */
.corona-wrapper s-heading {
  box-shadow: 0 3px 4px 1px hsl(0deg 0% 85% / 50%);
  border: 0 !important;
  position: relative;
}

.corona-wrapper .corona-cases-statewise {
  display: flex;
  overflow: hidden;
  align-items: center;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
}

.corona-cases-statename {
  font-size: 15px;
  margin: 10px 0;
}

.corona-wrapper .corona-cases-statewise>div {
  width: 30%;
}

.corona-wrapper .corona-cases-statewise div {
  display: flex;
  justify-content: space-between;
}

.corona-wrapper .corona-cases-statewise div>p {
  width: calc(100%/3);
  margin: 0 5px;
  font-size: 14px;
}

.corona-wrapper .corona-cases-statewise:nth-child(even) {
  background-color: #f7f7f7;
}

.corona-wrapper .corona-cases-statewise:active,
.corona-wrapper .corona-cases-statewise:hover {
  background-color: #7280ce;
  color: #fff;
}

@media screen and (max-width:768px) {
  .graphes-wrapper {
    flex-direction: column;
  }

  .graphes-wrapper .chart-item,
  .graphes-wrapper .chart-item.double-flex {
    width: 100% !important;
  }
}

.picked {
  opacity: 0.4;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  transform: scale(0.9);
  transition: all 250ms;
  max-height: calc(50% - 2rem);
}